body {
  font-family: "Tahoma", sans-serif;
  margin: 20px;
}

ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 8px;
}

/* Inputtoggle styling */
.toggle-container {
  display: flex;
  margin-left: 26px;
  margin-bottom: 26px;
  margin-top: 10px;
}

.toggle-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 250px;
  height: 25px;
  cursor: pointer;
}

.switch {
  margin: 0px 5px;
  display: flex;
  align-items: center;
  width: 40px;
}

.circle.right {
  transform: translateX(24px)
}


.bar {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
  position: absolute;
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #AD8D6D;
  z-index: 1;
  transition: transform .8s;
}

.circle.focused {
  box-shadow: 0 0 8px var(--blue);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}
